{% if type == "journal" or not target.DisallowComment %}
        <script src="{{ options.comment_internal_plugin_js|default:"https://cdn.jsdelivr.net/npm/halo-comment@latest/dist/halo-comment.min.js" }}"></script>
        <halo-comment id="{{ target.ID }}" type="{{ type }}"/>
    {% endif %}