[Unit]
Description=AirPress Service
Documentation=https://github.com/rfancn/airpress
After=network.target nss-lookup.target

[Service]
User=nobody
ExecStart=/your_path/airpress  -config /your_path/conf/config.yaml
Restart=on-failure
RestartPreventExitStatus=23

[Install]
WantedBy=multi-user.target
